body {
	margin: 0;
	padding: 0;
	font-size: .9em;
	text-align: center;
	letter-spacing: 1px;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
}

.nav {
	background-color: rgb(164, 218, 210);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 0;
}



.nav > ul {
	margin: 0;
	padding: 0;
}

a {
	/*padding: 0 5px 0 5px;*/
	text-decoration: none;
	color: inherit;
	transition: color 0.3s linear 0s;

}

a:hover {
	color: rgb(244, 121, 50);
	text-decoration: underline;
}


@media only screen and (max-width: 600px) {
	body {
		background-color: white;
	}

	.background-image {
		display: none;
	}
	
	.nav > ul > li {
		display: inline-block;
		color: white;
		padding: 15px 15px 0 15px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .2em;
	}

	.description > h4 {
		text-align: left;
		padding-left: 30px;
	}

	.description > p {
		text-align: left;
		padding: 0 10px 0 30px;
	}

	.about > p {
		font-size: 1.4em;
		text-align: justify;
		line-height: 1.7em;
		vertical-align: top;
		padding: 0 30px 0 30px;
		text-indent: 50px;
	}

	.about {
		padding: 100px 0 100px 0;
	}


	.contact {
		font-size: 3em;
		margin: 100px 0 50px 0;
		color: white;
		background-color: rgb(164, 218, 210);
	}
	.tech {
		padding: 50px 0 50px 0;
	}
	
	.tech > ul {
		font-size: 1.5em;
	}
	.work {
		padding: 50px 0 100px 0;
	}
	
	article {
		padding: 50px 0 0 0;
	}
	.container {
		padding: 0 0 50px 0;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	h3 {
		font-size: 3em;
		/*font-family: 'Bowlby One', cursive;*/
		font-family: 'Marvel', sans-serif;

		text-decoration: underline;
	}

	h1 {
		font-size: 2.3em;
	}

	.big-font {
		font-size: 1.5em;
		font-weight: 200;
	}

	.project-title {
		font-size: 1.3em;
	}

	img {
		width: 100%;
	}

	.headline {
		width: 89%;
		margin: 0 auto;
		padding: 180px 0px 140px 0px;
		color: white;
		overflow: visible;
	}

	.headline > header > h1 {
		font-size: 60px;
		font-weight: 200;
	}

	header {
		background-color: rgb(255, 90, 90);
		padding: 10px 15px 10px 15px;
	}

	.link-bar {
		/*background-color: black;*/
		background-color: rgb(164, 218, 210);
		margin: 70px 0 0 0;
		color: white;
		font-size: 2em;
	}

	.link-pad {
		padding: 0 10px 0 10px;
	}
}










/*------------------------------------------------*/
/*---------------------BIG SCREEN-----------------*/
/*------------------------------------------------*/




@media only screen and (min-width: 601px) {
	body {
		background-color: black;
		position: relative;

	}
	
	.nav > ul > li {
		display: inline-block;
		color: white;
		padding: 10px 45px 0 45px;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: .2em;
	}
	.background-image {
		z-index: -100;
		position: absolute;
		/*width: 100%;*/
		display: block;
		/*visibility: visible;*/
		margin: 0 auto;
		/*text-align: center;*/
		/*overflow: hidden;*/

	}
	
	.image {
		background-color: black;
		/*min-width: 100%;*/
		/*min-height: 100%;*/
		position: fixed;
		width: 100%;
		/*height: 100%;*/
		/*min-height: 28.5rem;*/
		top: -200px;
		/*left: -50%;
		/*overflow: auto;*/
	}

	.headline {
		height: 700px;
		width: 100%;
		margin: 0 auto;
		/*padding: 10% 0 20% 0;*/
		color: white;
		overflow: visible;
		background-color: transparent;
		z-index: 1;
	}

	header {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 14% 0px 0 0px;
		width: 100%;
		height: 600px;
	}

	.headline > header > h1 {
		font-size: 100px;
		font-weight: 200;
	}
	



	.description > h4 {
		text-align: center;
		font-size: 33px;
		/*padding-left: 30px;*/
	}

	.description > p {
		text-align: center;
		font-size: 1.2em;
		padding: 0 10px 0 30px;
	}

	.description > img {
		width: 50%;
		max-width: 500px;
	}

	.about > p {
		font-size: 1.7em;
		text-align: justify;
		line-height: 1.8em;
		vertical-align: top;
		padding: 0 30px 0 30px;
		width: 60%;
		margin: 0 auto;
		text-indent: 50px;
	}

	.about {
		padding: 100px 0 150px 0;
		z-index: 100;
		background: white;

	}
	
	.about > h3 {
		padding: 0 0 50px 0;
	}
	
	
	.contact {
		font-size: 3em;
		/*margin: 100px 0 0px 0;*/
		margin: 0;
		padding: 0;
		height: 180px;
		color: white;
		background-color: rgb(164, 218, 210);
		background: white;
	}
	.tech {
		/*padding: 50px 0 50px 0;*/
		background: white;
		margin: 0;
		padding: 0;
	}
	
	.tech > h3 {
		margin: 0;
		padding: 0;
	}
	.tech > ul {
		font-size: 2em;
		margin: 0;
		list-style: none;
		padding: 100px 0 100px 0;
	}
	.work {
		padding: 50px 0 100px 0;
		background: white;

	}
	
	article {
		padding: 50px 0 0 0;
	}
	.container {
		/*padding: 0 0 50px 0;*/
		position: relative;
	}

	h3 {
		font-size: 3em;
		font-family: 'Open Sans', sans-serif;
	}

	h1 {
		/*font-size: 2.3em;*/
	}

	.big-font {
		font-size: 2.0em;
		font-weight: 200;
	}

	.project-title {
		font-size: 1.3em;
	}

	.link-bar {
		background-color: rgb(164, 218, 210);
		margin: 70px 0 0 0;
		color: white;
		font-size: 2em;
	}

	.link-pad {
		padding: 0 10px 0 10px;
	}
	
	.links {
		background-color: rgb(164, 218, 210);
	}

}